html, body{
	background-color:#F8F8FF;
	height:100%;
}

#wrapper{
	position:relative;
	width:95%;
	height:100%;
	/*margin: 0 auto;*/
	margin-left: auto;
	margin-right: auto;
}	

#portfolio-wrapper{
	display:none;
	position:relative;
	top:25%;
	margin-top: auto;
	margin-left: auto;
	z-index:1;
}

#resume-wrapper{
	display:none;
	position:relative;
	top:10%;
	margin-top: auto;
	margin-left: auto;
	z-index:1;
}

#fixed-header{
	position:fixed;
	overflow:hidden;
	top:0px;
	left:0px;
    width:100%;
    height:75px;
	background-color:#B0C4DE;
	z-index:2;
}

#fixed-header.projects-page{
	position:fixed;
	overflow:hidden;
	top:0px;
	left:0px;
    	width:100%;
	height:30px;
	background-color:#B0C4DE;
	z-index:2;
}	

.tab{
	position:relative;
	cursor:pointer;	
	height:100%;
	width:8%;
	padding:1.5%;
	left:40%;
	float:left;
	text-align:center;
	font-size: 2em;
}

.tab.home-button{
	position:relative;
	cursor:pointer;	
	height:100%;
	width:8%;
	left:42.5%;
	bottom:50%;
	float:left;
	text-align:center;
	font-size: 1.3em;
}

#header{
	position:relative;
	background-color:#B0C4DE;
	width:100%;
	/*height:70px;*/
	border-radius:5px;
	margin: 0 auto;
	text-align: center;
	font-size:250%;
	line-height:70px;
}

#left-img-wrapper{
	position:relative;
	padding-bottom:20px;
	cursor:pointer;
	float:left;
	left:15%;
	margin-top:auto;
	margin-left:auto;
}

#right-img-wrapper{
	position:relative;
	padding-bottom:20px;	
	cursor:pointer;
	float:right;
	right:15%;
	margin-top:auto;
	margin-left:auto;
}

#left{
	position:relative;
	float:left;
	background-color:#BCD2EE;
	border-radius:5px;
	width:20%;
	height:500px;
	margin-top:5px;
	margin-bottom:5px;
}

#right{
	position:relative;
	float:right;
	background-color:#BCD2EE;
	border-radius:5px;
	width:79.5%;
	height:500px;
	margin-top:5px;
	margin-bottom:5px;
}

#footer{
	position:relative;
	clear:both;
	background-color:#B0C4DE;
	width:100%;
	height:65px;
}

.title {
	font-size:1.6em;
	text-align: center;
}

#filter_box{
	width:98%;
	position: relative;
	border-radius: 2px;
	background-color:#CAE1FF;
	border: 2px solid black;
	padding:10px;
}

div.button{
	margin:auto;
	text-align:center;
}


button.accordion{
	position:relative;
	display:none;
	width:100%;
	background-color:#BCD2EE;
	border-radius:2px;
	padding:5px;
	text-align:center;
	cursor:pointer;
	border:none;
	outline:none;
	font-size:2em;
}	

button.accordion.active, button.accordion:hover{
	background-color:#B0C4DE;
}

div.panel{
	background-color:#CAE1FF;
	text-align:center;
	padding: 2px 15px;
	max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show{
	display: block; /*!important;*/
	opacity: 1;
    max-height: 200px;
}

th.sortable{
	cursor:pointer;
	background-color:#B0C4DE;	
}

.bold{
	font-weight: bold;
	margin: 0 auto;
}

a.tooltip {
}

a.tooltip span{
    display:none; 
	width:100px;
	height:20px;
	padding:10px 15px;
	margin-left:-100px;
	margin-top:-50px;
}

a.tooltip:hover span{	
    display:inline;
	position:absolute; 
	color:#111;
    border:1px solid #DCA;
	background:white;	
}   

@media only screen and (min-width: 480px){
	/*a:link, a:visited{
		background-color:black;
		border-radius: 5px;
		padding: 10px 20px;
		text-align:center;
		text-decoration: none;
		display: inline-block;
	}
	
	#fixed-header{
		position:fixed;
		overflow:hidden;
		top:0px;
		padding:0%;
		left:0px;
		width:100%;
		height:50px;
		background-color:#B0C4DE;
		z-index:2;
	}
	
	.tab{
		position:relative;
		cursor:pointer;	
		height:100%;
		width:50%;
		padding:0%;
		left:0%;
		float:left;
		text-align:center;
		line-height:100%;
		font-size: 24px;
	}
	
	#portfolio-wrapper{
		top:75px;
		width:100%;
		height:100%;
	}
	
	#left-img-wrapper{
		float:none;
		left:0%;
		margin:0 auto;
	}
	
	#right-img-wrapper{
		float:none;
		right:0%;
		margin:0 auto;
	}
	
	#projects-img{
		width:100%;
		height:40%;
	}
	
	#github-img{
		width:100%;
		height:40%;
	}
}	
*/
