/***** Wrappers *****/
html, body{
	background-color:#F8F8FF;
	height:100%;
}

#wrapper{
	position:relative;
	width:95%;
	height:100%;
	/*margin: 0 auto;*/
	margin-left: auto;
	margin-right: auto;
}	

#portfolio-wrapper{
	display:none;
	position:relative;
	top:25%;
	margin-top: auto;
	margin-left: auto;
	z-index:1;
}

#resume-wrapper{
	display:none;
	position:relative;
	top:12.5%;
	margin-top: auto;
	margin-left: auto;
	z-index:1;
}

/***** Fixed headers *****/
#fixed-header{
	position:fixed;
	overflow:hidden;
	top:0px;
	left:0px;
    width:100%;
    height:75px;
	background-color:#B0C4DE;
	z-index:2;
}

#fixed-header.projects-page{
	position:fixed;
	overflow:hidden;
	top:0px;
	left:0px;
    width:100%;
    height:30px;
	background-color:#B0C4DE;
	z-index:2;
}	

/***** Tabs *****/

.tab{
	position:relative;
	cursor:pointer;	
	height:100%;
	width:8%;
	padding:1.5%;
	left:40%;
	float:left;
	text-align:center;
	font-size: 2em;
}

.tab.home-button{
	position:relative;
	cursor:pointer;	
	height:100%;
	width:8%;
	left:42.5%;
	bottom:50%;
	float:left;
	text-align:center;
	font-size: 1.3em;
}

/***** Image Wrappers *****/

#left-img-wrapper{
	position:relative;
	padding-bottom:20px;
	cursor:pointer;
	float:left;
	left:15%;
	margin-top:auto;
	margin-left:auto;
}

#right-img-wrapper{
	position:relative;
	padding-bottom:20px;	
	cursor:pointer;
	float:right;
	right:15%;
	margin-top:auto;
	margin-left:auto;
}

/***** Resume classes/Ids *****/

#header{
	position:relative;
	background-color:#B0C4DE;
	width:100%;
	/*height:70px;*/
	border-radius:5px;
	margin: 0 auto;
	text-align: center;
	font-size:250%;
	line-height:70px;
}

#left{
	position:relative;
	float:left;
	background-color:#BCD2EE;
	border-radius:5px;
	width:20%;
	height:400px;
	margin-top:5px;
	margin-bottom:5px;
}

#right{
	position:relative;
	float:right;
	background-color:#BCD2EE;
	border-radius:5px;
	width:79.5%;
	height:400px;
	margin-top:5px;
	margin-bottom:5px;
}

#footer{
	position:relative;
	text-align:center;
	clear:both;
	background-color:#B0C4DE;
	border-radius:5px;
	width:99.25%;
	overflow:auto;
	padding:5px;
}

#footer span{
	position: relative;
	top:50%;
}

.title {
	text-decoration: underline;
	text-align: center;
	font-size: 1.2em;
	font-weight:bold;
}

.sub-heading {
	text-decoration: underline;
	text-align: left;
	font-size: 1em;
	font-weight:bold;
	padding-left: 12px;
}

.project-description{
	position:relative;
	text-align:left;
	font-size: 1em;
	padding-left: 12px;
	top: -2.5%;
	margin: 0 auto;
}

/***** Lists (ul + ol) *****/

#skills-list{
	font-size:1.2em;
	line-height:200%;
}

.list{
	position:relative;
	margin: 0 auto;
	top:-2%;
}

/***** CSS for projects page *****/

#filter_box{
	width:98%;
	position: relative;
	border-radius: 2px;
	background-color:#CAE1FF;
	border: 2px solid black;
	padding:10px;
}

.project-list{
	position:relative;
	overflow-x:auto;
	top:5%;
}

.nothing-found{
	text-align:center;
	font-size: 1.6em;
	font-weight:bold;
}

/***** Buttons/Accordion *****/

div.button{
	margin:auto;
	text-align:center;
}

button.accordion{
	position:relative;
	display:none;
	width:100%;
	background-color:#BCD2EE;
	border-radius:2px;
	padding:5px;
	text-align:center;
	cursor:pointer;
	border:none;
	outline:none;
	font-size:2em;
}	

button.accordion.active, button.accordion:hover{
	background-color:#B0C4DE;
}

/***** Panel *****/
div.panel{
    background-color:#CAE1FF;
    text-align:center;
    padding: 2px 15px;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show{
	display: block; /*!important;*/
	opacity: 1;
    max-height: 200px;
}

.bold{
	font-weight: bold;
	margin: 0 auto;
}

/***** Tooltips *****/

th.sortable{
	cursor:pointer;
	background-color:#B0C4DE;	
}

a.tooltip {
}

a.tooltip span{
    display:none; 
	width:100px;
	height:20px;
	padding:10px 15px;
	margin-left:-100px;
	margin-top:-50px;
}

a.tooltip:hover span{	
    display:inline;
	position:absolute; 
	color:#111;
    border:1px solid #DCA;
	background:white;	
}   

@media screen and (min-width: 1400px){	
	.tab{
		position:relative;
		cursor:pointer;	
		height:100%;
		width:8%;
		padding:1%;
		left:40%;
		float:left;
		text-align:center;
		font-size: 1.6em;
	}

	#left-img-wrapper{
		position:relative;
		padding-bottom:20px;
		cursor:pointer;
		float:left;
		left:15%;
		margin-top:auto;
		margin-left:auto;
	}

	#right-img-wrapper{
		position:relative;
		padding-bottom:20px;	
		cursor:pointer;
		float:right;
		right:15%;
		margin-top:auto;
		margin-left:auto;
	}

	#projects-img{
		width:500px;
		height:500px;
	}

	#github-img{
		width:500px;
		height:500px;
	}
	
	/* CSS FOR RESUME content */
	#header{
		position:relative;
		background-color:#B0C4DE;
		width:100%;
		/*height:70px;*/
		border-radius:5px;
		margin: 0 auto;
		text-align: center;
		font-size:250%;
		line-height:70px;
	}

	#left{
		position:relative;
		float:left;
		background-color:#BCD2EE;
		border-radius:5px;
		width:20%;
		height:600px;
		margin-top:5px;
		margin-bottom:5px;
	}

	#right{
		position:relative;
		float:right;
		background-color:#BCD2EE;
		border-radius:5px;
		width:79.5%;
		height:600px;
		margin-top:5px;
		margin-bottom:5px;
	}

	#footer{
		position:relative;
		text-align:center;
		clear:both;
		background-color:#B0C4DE;
		border-radius:5px;
		width:99.25%;
		overflow:auto;
		padding:5px;
	}

	#footer span{
		position: relative;
		top:50%;
	}
	
	.title {
		text-decoration: underline;
		text-align: center;
		font-size: 1.6em;
		font-weight:bold;
	}

	.sub-heading {
		text-decoration: underline;
		text-align: left;
		font-size: 1.2em;
		font-weight:bold;
		padding-left: 12px;
	}

	.project-description{
		position:relative;
		text-align:left;
		font-size: 1.2em;
		padding-left: 12px;
		top: -2.5%;
		margin: 0 auto;
	}
	/***** Lists (ul + ol) *****/

	#skills-list{
		font-size:1.4em;
		line-height:250%;
	}

	.list{
		position:relative;
		margin: 0 auto;
		top:-2%;
		font-size:1.2em;
	}
}
