@media screen and (max-width: 480px){	
	#fixed-header{
		position:fixed;
		overflow:hidden;
		top:0px;
		padding:0%;
		left:0px;
		width:100%;
		height:50px;
		background-color:#B0C4DE;
		z-index:2;
	}
	
	.tab{
		position:relative;
		cursor:pointer;	
		height:100%;
		width:50%;
		padding:1%;
		left:0%;
		float:left;
		text-align:center;
		line-height:100%;
		font-size: 24px;
	}
	
	#portfolio-wrapper{
		top:75px;
		width:100%;
		height:100%;
	}
	
	#left-img-wrapper{
		float:none;
		left:0%;
		margin:0 auto;
	}
	
	#right-img-wrapper{
		float:none;
		right:0%;
		margin:0 auto;
	}
	
	#projects-img{
		width:100%;
		height:40%;
	}
	
	#github-img{
		width:100%;
		height:40%;
}
}
